///////////////////////// VARIABLES /////////////////////////
//////////// COLORS ////////////
$color-pastel-yellow: #e9c46a;
//////////// FONTS ////////////
$font-script: "Marck Script", cursive;
$font-primary: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
