@import "./abstracts";
///////////////////////// BASE /////////////////////////
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: 62.5%; // 1rem = 10px
}

body {
  box-sizing: border-box;
  font-family: $font-primary;
}

///////////////////////// UTILITIES /////////////////////////
//////////// MARGIN ////////////
.mt-md {
  margin-top: 4.5rem;
}
